* { 
    background-color: #251423;
}
.aboutDiv {
    background-color: #251423;
}
.aboutMe {
    font-size: 5em;
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-color: #251423;
}

p {
    background-color: #251423;
}