* { 
    background-color: #251423;
}
.aboutDiv {
    background-color: #251423;
    margin-top: 10rem;
}
.aboutMe {
    font-size: 5em;
    padding-top: -1rem;
    margin-top: -20rem;
    margin-left: -5rem;
    padding-bottom: 1rem;
    background-color: #251423;
}

.profilepic {
    display: flex;
    justify-content: space-around;
    padding-right: 1rem;
}

.profile {
    background-color: #251423;
    word-wrap:break-word;
    margin-left: -10rem;
    /* padding-right: ; */
}

.bar {
    display: flex;
    justify-content: center;
}