* {
  background-color: transparent;
}

.homediv {
  background-image: url("../../assets/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.myTypist {
  background-color: transparent;
  background-image: none;
}

.break {
  background-color: transparent;
  background-image: none;
}

.row {
  background-color: transparent;
  background-image: none;
}

.col {
background-color: transparent;
}

.container {
  /* font-family: 'Dancing Script', cursive; */
  background-color: transparent;
  background-image: none;
  font-weight: 500;
  display: flex;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20rem;
  padding-bottom: 0;
}
  
.header {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: #FFFFFF;
  margin-bottom: 1px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #000000
  /* height: 100vh; */
}

.hcon {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 79s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    50% {opacity:1;}
    100% {opacity:1;}
}

.title {
  background-color: transparent;
  text-shadow: 3px 3px 5px black, 0 0 25px rgb(178, 72, 199), 0 0 10px rgb(61, 5, 68);
  color: #FFFFFF;
}