body {
    background: linear-gradient(to right, #633363 27%, #4f1a68 58%);
}    

h1 {
    font-size: 5rem;
    color: #FFFFFF
}

.glow {
    color: #18051a;
    text-shadow: 3px 3px 6px #FFFFFF;
}

.homediv {
    display: flex;
    min-height: 90vh;
    justify-content: center;
    align-items: center;
}