.container {
  /* font-family: 'Dancing Script', cursive; */
  font-weight: 500;
  display: flex;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20rem;
  padding-bottom: 0;
}
  
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: #FFFFFF;
  margin-bottom: 1px;
  /* height: 100vh; */
}

.hcon {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 31s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    50% {opacity:0;}
    75% {opacity:1;}
    100% {opacity:1;}
}

.title {
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(178, 72, 199), 0 0 5px rgb(61, 5, 68);
  color: #FFFFFF;
}