* {
    background-color: transparent;
}

.contact-box {
    background-color: transparent;
    display: block;
    /* justify-content: center;
    align-items: center; */
    /* margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto; */
    padding-top: 10rem;
    width: 15rem;
    height: 4rem;
    padding: 1rem;
    position: relative;
}

.talk {
    background-color: transparent;
    text-align: center;
    margin-left: -5rem;
    margin-right: -5rem;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000
}
