* {
  background-color: transparent;

}

.color {
  background-color: #2b1f2a;
  position: fixed;
}


/* a {
  text-decoration: none;
} */

.link {
  display: inline;
  padding-right: 10px;
  color: #FFFFFF;
  background-color: #2b1f2a;
  font-weight: 700;
}

.link:hover {
  text-decoration: none;
  color: #791099
}

.link:hover::after {
  content: "";
  display: block;
  width: 20px;
  color: #791099;
  border-bottom: 3px solid;
  margin: 0 auto;
}

.inside {
  background-color: #2b1f2a;
}

.toggle {
  background-color: #2b1f2a;
}

.collapse {
  background-color: #2b1f2a;
}