div {
  background-color: #221621;;
}

.color {
  background-color: #2b1f2a;
}

.nav-link {
  color: #FFFFFF;
  font-weight: bolder;
  background-color: #2b1f2a;
}

.inside {
  background-color: #2b1f2a;
}

.toggle {
  background-color: #2b1f2a;
}

.collapse {
  background-color: #2b1f2a;
}